<div class="d-flex justify-content-evenly align-items-center border p-3">
    <div>
        <h2><i class="fa-brands fa-shopify"></i>DailyCart</h2>
        <p>Designed and built with all the love in the <br> world by the bootstrap team with the help <br> of our contributor.</p>
        <p>Code licensed MIT,docs CC BY 3.0.</p>
    </div>
    <div>
        <h2>Help</h2>
        <p>Home</p>
        <p>Wishlist</p>
        <p>cart</p>
    </div>
    <div>
        <h2>Registered Address</h2>
        <p>Manhattan P.O <br> Near Center Swuare <br>69756</p>
    </div>
    <div>
        <h2>Contact Us</h2>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Contact us" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-arrow-right"></i></button>
          </form>
          <div class="icons d-flex justify-content-evenly mt-4">
            <a><i class="fa-brands fa-instagram"></i></a>
            <a><i class="fa-brands fa-facebook"></i></a>
            <a><i class="fa-brands fa-instagram"></i></a>
            <a><i class="fa-brands fa-instagram"></i></a>
          </div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center bg-dark">
    <p class="text-light">All Rights reserved  DailyCart 2023</p>
</div>